.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-cell {
  text-align: center;
  max-width: 200px;
  min-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.month-form {
  flex-grow: 2;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.delete-col {
  max-width: 115px;
  min-width: 115px;
}

.month-checkbox {
  position: inherit;
  width: 15px;
  height: 15px;
}
