<app-table-actions-bar (addPaymentData)="emitAddRow($event)"></app-table-actions-bar>
<div class="payment-table m-3">
  <div class="table-head">
    <div class="main-column" *ngFor="let item of columnData; trackBy: trackByFn">
      <span>{{item.title}}</span>
    </div>
    <div class="month-column" *ngFor="let month of monthNames; trackBy: trackByFn">
      <span>{{month}}</span>
    </div>
    <div class="delete-column">
      <span>Remove</span>
    </div>
  </div>
  <div class="table-body">
    <div class="table-row" *ngFor="let item  of rowData; let i = index; trackBy: trackByFn">
      <app-payment-table-row [columnData]="columnData"
                             [rowData]="item"
                             [rowIndex]="i"
                             (removeTableRow)="emitRemoveRow(i)">
      </app-payment-table-row>
    </div>
  </div>
  <div class="table-footer mt-3">
    <p>Funds spent: {{spentFunds}}</p>
  </div>
</div>
